{% extends "base.html" %}
{% load staticfiles i18n %}

{% block css %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="{% static 'css/foundation.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/my.css' %}">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic'
          rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic'
          rel='stylesheet' type='text/css'>

    <link type="text/css" rel="stylesheet" href="{% static 'css/jquery.bxslider.css' %}"/>
    <script src="{% static 'js/vendor/modernizr.js' %}"></script>
{% endblock %}

{% block big_content %}

    {% if request.user.is_authenticated %}
        <section id="header">
            <div class="row">
                <div class="large-12 medium-12 small-12 small-only-text-center small-nopadding columns">
                    <div class="large-5 small-12 medium-4 logo columns">
                        <h1><a href="{% url 'current_step' %}"><img src="{% static 'images/small-logo.png' %}" alt=""/>
                            JONES</a></h1>
                    </div>
                    <div class="large-7 medium-8 small-12 small-only-text-center small-nopadding text-right link columns">
                        <div class="row collapse">
                            <div class="large-4 small-12 medium-4 columns"><a href="#" style="cursor:text"
                                                                              onclick="return false"><img
                                    src="{% static 'images/phn-icon.png' %}" alt=""/> (415) 706-4480</a></div>
                            <div class="large-6 small-12 medium-6 columns"><a href="#" style="cursor:text"
                                                                              onclick="return false"><img
                                    src="{% static 'images/mail-icon.png' %}" alt=""/> {{ request.user.email }}</a>

                            </div>
                            <div class="large-2 small-12 medium-2 columns">
                                <a href="{% url 'account_logout' %}">Logout</a>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
        </section>

    {% else %}
        <section id="header" class="signup">
            <div class="row fullwidth">
                <div class="large-5 medium-6 small-12 small-only-text-center  logo columns">
                    <h1><a href="/"><img src="{% static 'images/small-logo.png' %}">JONES</a></h1>
                </div>


                <div class="large-7 medium-6 small-12 small-only-text-center text-right login link columns">
                    <a href="{% url 'account_login' %}" class="button">login</a>
                    <a href="{% url 'account_signup' %}" class="button sign">sign up</a>
                </div>

            </div>
        </section>
    {% endif %}

    {% block content %}
    {% endblock %}
    {% block footer %}
    <section id="footer">
        <div class="row fullwidth">
            <div class="large-4 medium-4 small-12 text-left only-small-text-centered columns">
                <h3>JONES</h3>
                <p><i>Buying insurance for your business,<br> the easy way.</i></p>
            </div>
            <div class="large-4 medium-4 small-12 text-left only-small-text-centered columns">
                <h3>Get Covered</h3>
                <ul>
                    <li>General Liability Insurance</li>
                    <li>Businessowners Insurance</li>
                    <li>Professional Liability Insurance</li>
                </ul>
            </div>
            <div class="large-4 medium-4 small-12 text-left only-small-text-centered columns">
                <h3>ABOUT US</h3>
                <ul>
                    <li>Our Story</li>
                    <li>Blog</li>
                    <li>Contact Us</li>
                </ul>
            </div>
        </div>
    </section>
    {% endblock %}{% endblock %}

{% block javascript %}
    <script src="{% static 'js/vendor/jquery.js' %}"></script>
    <script src="{% static 'js/foundation.min.js' %}"></script>
    <script>
        $(document).foundation();
    </script>
    {% block extrascript %}
    {% endblock %}
{% endblock %}
