
ul.errorlist li {list-style: none; color:#ba4444; font-size: 14px;}
ul.errorlist {margin-bottom: 0px;}

.dz-message span{color:#000}
.nonfield {margin-left:15px}

div.input {margin-bottom:25px;}

#sign-up .sign input[type="text"], #sign-up .sign input[type="email"], #sign-up .sign input[type="password"] {
	display:inline-block;
	border:none;
	margin:0px 0px 0px 0px;
	border-bottom:1px solid #b4b4b4;
	padding:0px;
	height:auto;
	font-size:12px;
	line-height:22px;
	color:#6b6b6b;
	font-family: 'Lato', sans-serif;
	box-shadow:none;
}



#sign-up.landing .sign input[type="text"], #sign-up.landing .sign input[type="email"], #sign-up.landing .sign input[type="password"] {
	background:#e9e9e9;
  margin-bottom:0px;
}

.usual-button {
  background: #1c4057;
  width: 100%;
  line-height: 28px;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  border-bottom: 2px solid #0d2230;
  border-top: 1px solid #a4b3bc;
  border-radius: 5px !important;
  padding: 0 5px;
  margin: 0px;
}

#sign-up .sign.login input[type="email"] {
  margin: 0px 0px 15px 0px;
}

.currencyinput {
  border: 1px inset #ccc;
}

.currencyinput input {
  border: 0;
}
