@charset "utf-8";
/* CSS Document */



body {
	font-family: 'Lato', sans-serif;
}

ul {
	margin-left:0px;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Lato', sans-serif;
}

label,p {
	font-family: 'Lato', sans-serif;
}

a {

}

span {
	font-family: 'Lato', sans-serif;
}

.button {
	font-family: 'Lato', sans-serif;
}

.row {
	max-width:64em;
}

/* Header Style */
/*.fullwidth {
	width:100%;
	max-width:100%;
}*/

.nopadding {
	padding-left:0px !important;
	padding-right:0px !important;
}

#header {
	width:100%;
	background:#1c4057;
	border-bottom:2px solid #476376;
	padding:23px 0px;
}

#header .row.fullwidth {
	max-width:72.5rem;
}

#header  h1 {
	margin:0px;
	font-size:32px;
}

#header  h1 a {
	display:inline-block;
	font-size:32px;
	line-height:41px;
	color:#fff;
	font-family: 'Lato', sans-serif;
}

#header  h1 a img {
	margin-right:8px;
}

#header  .link {
}

#header  .link a {
	font-size:17px;
	color:#fff;
	line-height:46px;
	font-family: 'Lato', sans-serif;
}

#header  .link.login a {
	display:inline-block;
	font-size:15px;
	color:#fff;
	line-height:36px;
	font-family: 'Lato', sans-serif;
	padding:0px 30px;
	margin-bottom:0px;
	text-transform:uppercase;
	margin-right:15px;
	border-radius:9px;
	margin-top:5px;
	border-bottom:3px solid #041c23;
}

#header .link a img {
	margin-right:10px;
}

#header .button {
	background:#68b2aa;
}

#header .link.login a.sign {
	background:#f1f1f1;
	color:#68b2aa;
}

/*Details*/

#details {
	background:#f1f1f1;
	width:100%;
}

#details .details {
	padding-top:52px;
	padding-bottom:52px;
}

#details  h3 {
	font-size:22px;
	color:#2f2f2f;
	font-family: 'Lato', sans-serif;
	font-weight:700;
	margin-bottom:40px;
}

#details .upload {
	background:#fff;
	padding-top:25px;
	padding-bottom:25px;
	margin-bottom:30px;
	border-radius:5px;
}

#details .upload .panel {
	background:#fff;
	border:none;
	margin-bottom:0px;
	padding:10px;
}

.none {
	padding:0px;
}

#details .upload  .button {
	background:#112b3c;
	width:100%;
	line-height:28px;
	font-size:13px;
	color:#fff;
	text-transform:uppercase;
	border-bottom:1px solid #cfd5d8;
	border-top:1px solid #70808a;
	border-radius:5px;
	padding:0px;
	margin:0px;
}

#details .upload .connect  {
	margin-top:50px;
}

#details .upload .connect  .button {
	background:#559790;
	width:100%;
	line-height:53px;
	font-size:16px;
	font-weight:600;
	color:#fff;
	text-transform:uppercase;
	border-bottom:1px solid #cfd5d8;
	border-top:1px solid #70808a;
	border-radius:5px;
	padding:0px;
	margin:0px;
}

#details .upload .text-us {
	background:#1c4057;
	width:100%;
	line-height:29px;
	font-size:13px;
	color:#fff;
	text-transform:uppercase;
	border-bottom:2px solid #0d2230;
	border-radius:5px;
	padding:0px;
}

#details .leftcol {
	padding-right:60px;
}

#details  h6 {
	font-size:16px;
	color:#1c4057;
	font-family: 'Lato', sans-serif;
	font-weight:400;
	margin:0px;
	line-height:30px;
}

#details p {
	font-size:18px;
	color:#1c4057;
	font-family: 'Lato', sans-serif;
	font-weight:600;
}

#details .uploadTrigger p {
	color:#8b8b8b;
	font-size:16px;
	font-family: 'Lato', sans-serif;
	font-weight:400;
	line-height:1.2;
}

#details p a {
	color:#1c4057;
	font-size:17px;
	margin-left:10px;
	font-weight:600;
}

#details p.error {
	font-size:22px;
	margin:10px 0px;
	color:#ba4444;
	font-family: 'Lato', sans-serif;
}

#details .step {
	background:#fff ;
	padding-top:18px;
	padding-bottom:60px;
}

#details .step ul {
	float:left;
	width:100%;
}

#details .step ul li  {
	list-style:none;
	border-left:1px solid #ccc;
	float:left;
	width:97%;
	padding-left:8%;
	position:relative;
	padding-bottom:60px;
}

#details .step ul li:last-child {
	border-left:none;
	padding-bottom:0px;
}

#details .step ul li:before {
	content:'';
	height:13px;
	width:13px;
	border-radius:50%;
	background:#b5b5b5;
	position:absolute;
	left:-7px;
}

#details .step ul li.active:before {
	content:'';
	height:21px;
	width:21px;
	border-radius:50%;
	background:#68b2aa;
	position:absolute;
	left:-12px;
}

#details .step a {
	font-size:32px;
	color:#b5b5b5;
	font-family: 'Lato', sans-serif;
}

#details .step li h4 {
	font-size:18px;
	color:#b5b5b5;
	font-family: 'Lato', sans-serif;
	line-height:18px;
	font-weight:800;
	margin-top:0px;
	margin-bottom:15px;
}

#details .step li.active h4 {
	color:#68b2aa;
}

#details .step a:hover {
	color:#68b2aa;
}

#details .step p {
	font-size:13px;
	color:#959595;
	font-family: 'Lato', sans-serif;
	line-height:22px;
	font-weight:400;
	margin-bottom:0px;
}

#details  .step p b {
	font-size:15px;
	color:#3f3f3f;
	font-family: 'Lato', sans-serif;
	font-weight:700;
}

/*footer*/

#footer {
	background:#2f2f2f;
	width:100%;
	border-top:2px solid #565656;
	padding:35px 0px 45px 0px;
}

#footer h3 {
	font-size:15px;
	color:#fff;
	font-weight:bold;
	list-style:none;
	text-transform:uppercase;
	font-family: 'Lato', sans-serif;
	margin-top:0px;
	margin-bottom:26px;
}

#footer p {
	font-size:15px;
	color:#fff;
	font-weight:100;
	line-height:23px;
	font-family: 'Lato', sans-serif;
	font-weight:300;
}

#footer li {
	font-size:15px;
	color:#fff;
	list-style:none;
	line-height:25px;
	font-weight:100;
	font-family: 'Lato', sans-serif;

}

/*thank you page*/

#info {
	background:#f1f1f1;
	width:100%;
	font-family: 'Lato', sans-serif;
}

#info h2 {
	font-size:52px;
	color:#1c4057;
	font-family: 'Lato', sans-serif;
	padding:85px 0px 52px 0px;
}

#info h3 {
	font-size:28px;
	color:#1c4057;
	font-family: 'Lato', sans-serif;
	padding:54px 0px 80px 0px;
}

#info p {
	font-size:19px;
	color:#1c4057;
	font-family: 'Lato', sans-serif;
	padding-bottom:45px;
}

#info p a {
	font-size:19px;
	color:#1c4057;
	font-weight:bold;
	font-family: 'Lato', sans-serif;
}

/*sign up page*/

#sign-up {
	background:#f1f1f1;
	padding:50px 0px 70px 0px;
}

#sign-up.landing {
	background:#f1f1f1 url(../images/bg_landing.jpg) 50% 50% no-repeat;
	background-size:cover;
	padding:40px 0px 100px 0px;
}

#sign-up.landing h1 {
	font-size:54px;
	color:#fff;
	font-weight:bold;
	font-family: 'Lato', sans-serif;
	line-height:67px;
	margin-top:30px;
	margin-bottom:50px;
	text-shadow:3px 3px 5px rgba(6,6,6,0.3);
}

#sign-up.landing p.save {
	font-size:24px;
	color:#fff;
	line-height:46px;
	font-family: 'Lato', sans-serif;
	font-weight:500;
	text-transform:uppercase;
	margin-bottom:0px;
	text-shadow:3px 3px 5px rgba(6,6,6,0.3);
}

#sign-up.landing p.save span {
	color:#68b2aa;
}

#sign-up h3 {
	font-size:22px;
	color:#1c4057;
	font-weight:bold;
	font-family: 'Lato', sans-serif;
	margin-bottom:30px;
}

#sign-up p {
	font-size:16px;
	color:#666666;
	line-height:22px;
	font-family: 'Lato', sans-serif;
	font-weight:400;
	margin-bottom:30px;
}

#sign-up p b {
	color:#68b2aa;
	font-weight:bold;
}

#sign-up .sign {
	background:#fff;
	box-shadow:0px 5px 9px 0px #cacaca;
	box-shadow:0px 5px 9px 0px rgba(0,0,0,0.4);
	border-radius:5px;
	padding:35px 25px 25px 25px;
}

#sign-up.landing .sign {
	background:#e9e9e9;
	padding-top:35px;
	padding-bottom:25px;
}

#sign-up .sign h3 {
	font-size:16px;
	color:#68b2aa;
	font-weight:800;
	font-family: 'Lato', sans-serif;
	text-transform:uppercase;
	margin-bottom:30px;

}

#sign-up .sign input[type="text"], #sign-up .sign input[type="password"] {
	display:inline-block;
	border:none;
	margin:0px 0px 25px 0px;
	border-bottom:1px solid #b4b4b4;
	padding:0px;
	height:auto;
	font-size:12px;
	line-height:22px;
	color:#6b6b6b;
	font-family: 'Lato', sans-serif;
	box-shadow:none;
}

#sign-up .sign.login input[type="text"] {
	margin:0px 0px 15px 0px;
}

#sign-up .sign.login input[type="password"] {
	margin-bottom:0px;
}

#sign-up .sign.login .forgot {
	padding-left:0px;
}

#sign-up .sign .login .forgot a u {
	font-weight:400;
}

#sign-up .sign.login .forgot a {
	font-size:11px;
	color:#68b2aa;
	font-family:'Lato', sans-serif;
	font-weight:400;
	padding:15px 0px;
	line-height:33px;
}

#sign-up .sign input[type="password"].confirm {
	margin-bottom:0px;
}

#sign-up.landing .sign input[type="text"], #sign-up.landing .sign input[type="password"] {
	background:#e9e9e9;
}

#sign-up .sign ::-webkit-input-placeholder {
   color: #6b6b6b;
}

#sign-up .sign  .login a {
	font-size:15px;
	color:#1c4057;
	font-family: 'Lato', sans-serif;
	padding:20px 0px;
	display:inline-block;
}

#sign-up .sign  .login a u {
	font-weight:800;
}

#sign-up .sign input[type="submit"] {
	border:none;
	background:#1c4057;
	font-size:14px;
	color:#fff;
	width:100%;
	height:42px;
	font-weight:bold;
	text-transform:uppercase;
	font-family: 'Lato', sans-serif;
	border-radius:8px;
	border-bottom:5px solid #041c23;
	cursor:pointer;
}

#sign-up .symbol {
	padding-top:22px;
}

#sign-up .symbol .last {
	padding:0px;
}

/* ----- #insurance starts ----- */

#insurance {
	padding:90px 0px;
}

#insurance h3 {
	font-size:37px;
	color:#1c4057;
	font-weight:700;
	font-family:'lato', sans-serif;
}

#insurance p {
	font-size:32px;
	line-height:42px;
	color:#666666;
	margin-top:54px;
}

#insurance p span {
	color:#68b2aa;
}

/* ----- #insurance ends ----- */

/* ----- #howitworks starts ----- */

#howitworks {
	background:#f2f2f2;
	padding:50px 0px 90px 0px;
}
#howitworks h3 {
	font-size:39px;
	color:#1c4057;
	font-weight:700;
	margin:0px;
	font-family:'lato', sans-serif;
}

#howitworks .box {
	margin-top:60px;
}

#howitworks h6 {
	font-size:19px;
	line-height:35px;
	color:#68b2aa;
	text-transform:uppercase;
	font-weight:700;
	margin:15px 0px 12px 0px;
}

#howitworks p {
	font-size:19px;
	line-height:24px;
	color:#7b7b7b;
}

#howitworks a {
	background: #68b2aa;
    line-height:68px;
    font-size:19px;
    color: #fff;
    text-transform: uppercase;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    margin-right: 25px;
    border-bottom:3px solid #42857d;
    padding:0px 100px;
	margin-top:80px;
	font-weight:600;
}

/* ----- #howitworks ends ----- */

/* ----- #client-logos starts ----- */

#client-logos {
	background:#68b2aa;
	padding:50px 0px;
}

#client-logos ul {
	padding-left:0px;
}

#client-logos li {
	list-style:none;
	display:inline-block;
	width:17.3%;
	margin-right:3%;
	text-align:center;
}

#client-logos li:last-child {
	margin-right:0px;
}

#client-logos li img {
	max-width:100%;
}

/* ----- #client-logos ends ----- */

/* ----- #reviews starts ----- */

#reviews {
	padding:70px 0px;
}

#reviews .title {
	margin:30px 0px 20px 0px;
}

#reviews .title h6 {
	font-size:18px;
	line-height:32px;
	font-family:'lato', sans-serif;
	font-weight:bold;
	text-transform:uppercase;
	margin:0px;
}

#reviews blockquote {
	padding:0px;
	border-left:0px;
	font-size:13px;
	color:#2f2f2f;
	font-style:italic;
	margin-bottom:4px;
	margin-top:0px;
}

#reviews span {
	font-family:'lato', sans-serif;
	font-size:11px;
	font-weight:600;
	color:#68b2aa;
}

.alert-box {
	background:#fff;
	border:none;
	padding:0px;
}

#details .alert-box h6 {
	color:#1c4057;
	font-size:17px;
	font-family:'lato', sans-serif;
	font-weight:400;
}


.uploadBox, .textContentBox {
	display:none;
}

.alert-box .close {
	display:inline-block;
	font-size:2.5rem;
	font-weight:bold;
	color:#1c4057;
	opacity:1;
	top:5px;
	right:0px;
	position:absolute;
	margin-bottom:20px;
}

.alert-box.alert-close {
	opacity:1;
}

.alert-box .drag {
	border:5px solid #d1e8e5;
	text-align:center;
	padding:100px 0px;
	margin:75px 0px 45px 0px;
}

#details .alert-box .drag h3 {
	font-size:35px;
	color:#b2b2b2;
	font-family:'Lato', sans-serif;
}

.alert-box input[type="text"] {
	border:2px solid #d9d9d9;
	height:50px;
	font-size:21px;
	color:#898989;
	font-family:'Lato', sans-serif;
}

#details .alert-box ul li {
	list-style:none;
	padding:0px 7px;
	margin-bottom:14px;
}

.file-upload {
  position: relative;
  overflow: hidden;
  margin: 0px 0px;
  padding:0px 10px;
  line-height:50px;
  border-top-right-radius:7px;
  border-bottom-right-radius:7px;
  width:100%;
 }

.file-upload input.file-input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

#details .partners {
	margin-top:15px;
}

.partners p {
	font-size:15px;
	font-family:'Lato', sans-serif;
	font-weight:600;
	color:#353535;
	margin-bottom:26px;
}

.partners ul li {
	list-style:none;
	float:left;
	margin-right:15px;
}

.partners ul li:last-child {
	margin-right:0px;
}

/*form -1-explain*/
.hideExplain {
	display:none;
}

#details .form h4 {
	font-size:25px;
	color:#2f2f2f;
	font-weight:600;
	font-family:'Lato', sans-serif;
	line-height:0.5;
}

#details .form p {
	font-size:15px;
	color:#727272;
	font-family:'Lato', sans-serif;
	font-weight:300;
	margin-bottom:33px;
}

#details .form  .panel p {
	font-size:13px;
	color:#6b6b6b;
	font-family:'Lato', sans-serif;
	margin:0px;
	font-weight:normal;
	margin-top:5px;
}

#details .form  .panel .top {
	margin-top:30px;
}

#details .form  .panel textarea {
	border-color:#68b2aa;
	resize:none;
}

::-webkit-input-placeholder {
	color:#a2a2a2;
	font-size:9px;
}

#details .form  .panel textarea.bottom {
	margin-top:7px;
	background:#fbfbfb;
	margin-bottom:0px;
}

#details .form  .panel input[type="text"] {
	border-color:#68b2aa;
	margin-bottom:23px;
}

#details .form  .panel input[type="number"] {
	border:2px solid #68b2aa;
	padding: 0px 7px;
    height: 25px;
	outline:0;
	margin:0px;
}

#details .form  .panel .option input[type="number"] {
	border:2px solid #68b2aa;
	padding: 0px 7px;
    height: 20px;
	width:35px;
	outline:0;
	margin:0px;
	padding:0px;
}

#details .form  .panel .margin {
	margin:30px 0px;
 }

#details .form  .panel .field {
	float:left;
	padding:15px 0px;
	width:100%;
	border-bottom:1px solid #f9fafa;
}

#details .form  .panel input[type="radio"] {
	height: 13px;
	width: 13px;
	vertical-align: middle;
	margin: 0 0.4em 0.4em 0;
	-webkit-appearance: none;
	border:2px solid #8a8a8a;
	border-radius:100%;
	outline:0;
}

/* checkbox checked */
#details .form  .panel input[type="radio"]:checked:before {
    font-weight: bold;
    color:#b5b5b5;
    text-align:center;
     content: "·";
    -webkit-margin-start: 0;
    font-size: 30px;
	border-radius:100%;
	margin:0px 0px 0px 1px;
    line-height:8px;
    width:13px;
}

#details .form  .panel input[type="radio"] {
	height:13px;
	width:13px;
	margin-top:7px;
	border-radius:100%;
	border:1px solid #68b2aa;
}

/* checkbox checked */


#details .form  .panel .radio label  {
	font-size:12px;
	color:#68b2aa;
	margin-left:0px;
	font-family:'Lato', sans-serif;
}

#details .form  .panel .blue {
	font-size:10px;
	color:#68b2aa;
	font-family:'Lato', sans-serif;
	font-weight:normal;
	margin-top:10px;
}


#details .form  .panel .button.finish {
	margin-top:30px;
}

#details .form  .panel .button {
    background:#1c4057;
    width:100%;
    line-height:28px;
    font-size:14px;
    color:#fff;
    text-transform:uppercase;
    border-bottom:2px solid #0d2230;
    border-top:1px solid #a4b3bc;
    border-radius:5px;
    padding:0px;
    margin:0px;
}

/* ----- #reviews ends ----- */

/* Small Screens*//* max-width 640px, mobile-only styles, use when QAing mobile issues */
@media only screen and (max-width:40em){

.small-nopadding {
	padding-left:0px !important;
	padding-right:0px !important;
}

#details .form h4 {
	line-height:28px;
}

.logo {
	margin-bottom:15px;
}

#header {
	height:auto;
}

#header .link a {
    font-size:20px;
	width:100%;
}

#header .button {
	margin-right:10px;
}

#details p, #details p a, #info h3 {
    font-size:22px;
}

/* ---- landing Page ---- */

#sign-up.landing h1, #info h2 {
	font-size:32px;
	line-height:1.3;
}

#sign-up.landing p.save {
	font-size:24px;
	line-height:40px;
}

#sign-up .sign input[type="submit"] {
	font-size:14px;
}

#insurance h3, #howitworks h3 {
	font-size:32px;
}

#insurance p {
	font-size:28px;
	line-height:1.5;
}

#howitworks h6 {
	font-size:26px;
	line-height:1.4;
}

#howitworks p {
	font-size:22px;
}

#howitworks a {
	padding:0px 25px;
	margin-right:0px;
}

#client-logos li {
	width:100%;
	margin-right:0px;
}

#reviews .image {
	margin-top:20px;
}

#details .upload .button {
	margin-top:10px;
}

#details .upload .connect .button {
	    font-size:13px;
}

.partners {
	margin-bottom:30px;
}

.partners ul li {
	width:50%;
	height:25px;
	margin-right:0px;
	margin-bottom:15px;
	text-align:center;
}

#details .leftcol{
	padding-right:0px;
}

#sign-up .sign .login  a {
	padding:0px 0px 10px 0px;
}

}

/* Medium Screens *//* min-width 641px, medium screens */
@media only screen and (min-width:40.0625em) and (max-width:64em) {
#header {
	height:auto;
}

#details .form .panel .radio label {
	margin-right:5px;
}

#header  .link a {
	font-size:16px;
}

#sign-up .sign input[type="submit"] {
	width:322px;
}
#sign-up .sign input[type="submit"] {
	padding:10px 0px 10px 0px;
	width:100%;
}

/* ---- landing Page ---- */

#sign-up.landing h1 {
	font-size:40px;
	line-height:1.3;
}

#sign-up.landing p.save {
	font-size:26px;
	line-height:48px;
}

#insurance h3, #howitworks h3 {
	font-size:42px;
}

#insurance p {
	font-size:36px;
	line-height:50px;
}

#howitworks h6 {
	font-size:26px;
	line-height:42px;
}

#howitworks p {
	font-size:22px;
}

#client-logos li {
	margin-right:2.5%;
}

#reviews .image {
	margin-top:20px;
}

.partners {
	margin-bottom:30px;
}

.partners ul li {
	width:25%;
	height:25px;
	margin-right:0px;
	margin-bottom:15px;
	text-align:center;
}

}

/* Large Screens *//* min-width 1025px, large screens */
@media only screen and (min-width:64em) {
#details .alert-box ul li.bottom0 {
	margin-bottom:0px;
}
}

/* XLarge Screens *//* min-width 1441px, xlarge screens */
@media only screen and (min-width:90.063em) and (max-width:120em) {

}

/* XXLarge screens *//* min-width 1921px, xxlarge screens */
@media only screen and (min-width:120.063em) and (max-width:120em) {

}
