{% extends 'jones_base.html' %}
{% block content %}
    {% load crispy_forms_tags %}
    <br><br>
    <div class="row">

        <div class="large-12 medium-12 small-12 columns">
            Set your FreshBooks sub-domain:
            <form action="{% url 'fresh_login' %}" method="post" class="ng-pristine ng-valid">
                {% csrf_token %}
                <div id="div_id_site" class="form-group"><label for="id_site" class="control-label  requiredField">
                    Site<span class="asteriskField">*</span> </label>
                    <div class="controls " style="
    clear: both;
">
                        <div style="float:left">
                            https://
                        </div>
                        <div style="float:left">
                            <input class="textinput textInput form-control" id="id_site" maxlength="50" name="site"
                                   placeholder="Your site" type="text" style="width: 135px; height: 1.8125rem;"
                                   required="required">
                        </div>
                        <div style="float:left;">.freshbooks.com/</div>
                        <div style="float: left;margin-left: 50px;"><input type="submit" name="submit" value="Submit"
                                                                           class="button usual-button"
                                                                           id="submit-id-submit"></div>
                    </div>
                </div>
            </form>

        </div>
    </div>
{% endblock %}
{% block footer %}
{% endblock %}
