{% extends "account/base.html" %}
{% load staticfiles i18n %}
{% load i18n %}
{% load account %}
{% load socialaccount %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

    <section id="sign-up">
        <div class="row fullwidth">
            <div class="large-12 medium-12 small-12 columns">
                <div class="large-7 medium-6 columns">
                    <h3>Welcome back!</h3>
                    <p>Jones insures your business the easy way. We take your existing policy and turn it into a better,
                        more affordable one.</p>
                    <p><b>Quick and simple</b><br/>Sign up. Upload your data. Get covered.</p>
                    <p><b>The best price, always</b><br/>We’re independent brokers, so we promise to find the best
                        policy.</p>
                    <p><b>Cancel at any time.</b><br/>Want to switch carriers? No problem.</p>
                    <p>Let us know and we’ll get it done.</p>
                </div>
                <div class="large-4 sign login medium-6 columns">
                    <form action="{% url 'account_login' %}?next={% url 'current_step' %}" method="post">
                        {% csrf_token %}
                        <div class="large-12 columns"><h3>Sign in</h3></div>
                        {{ form.non_field_errors }}
                        <div class="large-12 columns">{{ form.login }}{{ form.login.errors }}</div>
                        <div class="large-12 columns">{{ form.password }}{{ form.password.errors }}</div>
                        <div class="large-12 login columns">
                            <div class="large-7 medium-7 small-12 forgot text-left columns">
                                <a href="{% url 'account_reset_password' %}"><u>Forgot your password?</u></a>
                            </div>
                            <div class="large-5 medium-5 small-12 text-right columns">
                                <a href="{% url 'account_signup' %}">or <u>Sign Up</u></a>
                            </div>
                        </div>
                        <div class="large-12 columns"><input type="submit" value="LOGIN"/></div>
                        <div class="large-12 symbol columns">
                            <div class="large-4 small-4 medium-4 text-left  columns"><a href="#"><img
                                    src="{% static 'images/symbol-1.png' %}" alt=""/></a></div>
                            <div class="large-4 small-4 medium-4 text-center columns"><a href="#"><img
                                    src="{% static 'images/symbol-2.png' %}" alt=""/></a></div>
                            <div class="large-4 small-4 medium-4 last text-right columns"><a href="#"><img
                                    src="{% static 'images/symbol-3.png' %}" alt=""/></a></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

