{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-xs-12">
        <h2>{% trans "Password Reset" %}</h2>

        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %}

        <p>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    {% if user.is_authenticated %}
        <script>
            window.location.replace("/current_step/");
        </script>
    {% endif %}
{% endblock javascript %}
