{% extends 'jones_base.html' %}
{% load staticfiles i18n %}

{% block title %} Please answer some additional questions. {% endblock %}


{% block content %}
    <section id="details">
	<div class="row fullwidth">
		<div class="details large-12 medium-12 small-12 columns">
			<div class="leftcol form large-8 small-12 small-nopadding medium-8 columns">
				<h4>Your data was received!</h4>
				<p>Please answer some additional questions below.</p>
				<div class="upload large-12 medium-12 small-12 columns"> <!-- .upload starts -->
					<div class="uploadTrigger">
						<div class="panel">
                            <form method="post" action="">
                            {% csrf_token %}
                            {{ form.errors }}
							<div class="field">
								<div class="large-9 medium-8 small-12 left nopadding columns">
									<p>Have you had a past, pending or planned bankruptcy or judgment for unpaid taxes in the past five years?</p>
								</div>
								<div class="large-3 medium-4 small-12 radio nopadding text-right columns">
                                    <input type="radio" name="past_bakruptcy" value="Yes" id="firstExplainShow"><label
                                        for="firstExplainShow" required>Yes</label>
									<input type="radio" name="past_bakruptcy" value="No" id="firstExplainHide"><label for="firstExplainHide">No</label>
								</div>
								<div class="large-12 firstExplain hideExplain nopadding columns">
									<textarea name="past_bakruptcy" class="bottom" placeholder="Please explain..."></textarea>
								</div>
							</div>
							<div class="field">
								<div class="large-9 medium-8 small-12 left nopadding columns">
									<p>Has your company had any General Liability, Property or Worker's Compensation claims in the past 5 years?</p>
								</div>
								<div class="large-3 medium-4 small-12 radio nopadding text-right columns">
                                    <input type="radio" name="general_liability" value="Yes"
                                           id="secondExplainShow"><label for="secondExplainShow" required>Yes</label>
									<input type="radio" name="general_liability" value="No" id="secondExplainHide"><label for="secondExplainHide">No</label>
								</div>
								<div class="large-12 secondExplain hideExplain nopadding columns">
									<textarea name="general_liability" class="bottom" placeholder="Please explain..."></textarea>
								</div>
							</div>
							<div class="field">
								<div class="large-9 medium-8 small-12 left nopadding columns">
									<p>Has your business insurance ever been declined, cancelled or non-renewed?</p>
								</div>
								<div class="large-3 medium-4 small-12 radio nopadding text-right columns">
                                    <input type="radio" name="buisiness_insurance" value="Yes"
                                           id="thirdExplainShow"><label for="thirdExplainShow" required>Yes</label>
									<input type="radio" name="buisiness_insurance" value="No" id="thirdExplainHide"><label for="thirdExplainHide">No</label>
								</div>
								<div class="large-12 thirdExplain hideExplain nopadding columns">
									<textarea name="buisiness_insurance" class="bottom" placeholder="Please explain..."></textarea>
								</div>
							</div>
							<div class="field">
								<div class="large-9 medium-8 small-12 left nopadding columns">
									<p>Would you like to change/add locations to your policy?</p>
								</div>
								<div class="large-3 medium-4 small-12 radio nopadding text-right columns">
                                    <input type="radio" name="change_locations" value="Yes"
                                           id="fourthExplainShow"><label for="fourthExplainShow" required>Yes</label>
									<input type="radio" name="change_locations" value="No" id="fourthExplainHide"><label for="fourthExplainHide">No</label>
								</div>
								<div class="large-12 fourthExplain hideExplain nopadding columns">
									<textarea name="change_locations" class="bottom" placeholder="Please explain..."></textarea>
								</div>
							</div>
							<div class="field">
								<div class="large-9 medium-8 small-12 left nopadding columns">
									<p>Do you want your quote to include Data Breach coverage? (Provides coverage for loss cause by a breach of personally identifiable information)</p>
								</div>
								<div class="large-3 medium-4 small-12 radio nopadding text-right columns">
                                    <input type="radio" name="data_coverage" value="Yes" id="fifthExplainShow"><label
                                        for="fifthExplainShow" required>Yes</label>
									<input type="radio" name="data_coverage" value="No" id="fifthExplainHide"><label for="fifthExplainHidepokemonBlue">No</label>
								</div>
								<div class="large-12 fifthExplain hideExplain nopadding columns">
									<textarea name="data_coverage" class="bottom" placeholder="Please explain..."></textarea>
								</div>
							</div>
							<div class="field">
								<div class="large-9 medium-8 small-12 left nopadding columns">
									<p>Do you want coverage for computers, furniture, stock/inventory or other items owned by your business?</p>
								</div>
								<div class="large-3 medium-4 small-12 radio nopadding text-right columns">
                                    <input type="radio" name="coverage_for_computers" value="Yes" id="sixthExplainShow"><label
                                        for="sixthExplainShow" required>Yes</label>
									<input type="radio" name="coverage_for_computers" value="No" id="sixthExplainHide"><label for="sixthExplainHide">No</label>
								</div>
								<div class="large-12 sixthExplain hideExplain nopadding columns">
									<textarea name="coverage_for_computers" class="bottom" placeholder="Please explain..."></textarea>
								</div>
							</div>
							<div class="field">
								<div class="large-9 medium-8 small-12 left nopadding columns">
									<p>Do you want coverage for your mobile property, equipment and trailers?</p>
								</div>
								<div class="large-3 medium-4 small-12 radio nopadding text-right columns">
                                    <input type="radio" name="coverage_for_mobile" value="Yes"
                                           id="seventhExplainShow"><label for="seventhExplainShow" required>Yes</label>
									<input type="radio" name="coverage_for_mobile" value="No" id="seventhExplainHide"><label for="seventhExplainHide">No</label>
								</div>
								<div class="large-12 seventhExplain hideExplain nopadding columns">
									<textarea name="coverage_for_mobile" class="bottom" placeholder="Please explain..."></textarea>
								</div>
							</div>
							<div class="field option">
								<div class="large-9 medium-8 small-12 left nopadding columns">
									<p>In the past 5 years, have you had any legal claims, lawsuits or actions filed against you?</p>
								</div>
								<div class="large-3 medium-4 small-12 radio nopadding text-right columns">
                                    <input type="radio" name="legal_claims" value="Yes" id="eightExplainShow"><label
                                        for="eightExplainShow" required>Yes</label>
									<input type="radio" name="legal_claims" value="No" id="eightExplainHide"><label for="eightExplainHide">No</label>
								</div>
								<div class="large-12 eightExplain hideExplain nopadding columns">
									<textarea name="legal_claims" class="bottom" placeholder="Please explain..."></textarea>
								</div>
							</div>
							<div class="large-3 none right medium-4 small-12 columns">
								<button class="button finish">Finish</button>

							</div>
                            </form>
						</div>
					</div>
				</div> <!-- .upload ends -->
			</div>
			{% include 'blocks/steps.html' with active='step2' %}

		</div>
	</div>
</section>




{% endblock %}


{% block extrascript %}
<script>
  $(document).foundation();
  $(document).ready(function(e) {
	$("input[type=radio]").click(function(e) {
        id = $(this).attr('id');
        clas = "." + id.replace("Show", "").replace("Hide", "");
        if (id.search("Show") > 0){
            $(clas).show("normal");
        }
        else{
            $(clas).hide("normal");
        }
	});

  });
</script>
{% endblock %}
