{% extends 'jones_base.html' %}
{% load staticfiles i18n %}

{% block title %} Please answer some additional questoins. {% endblock %}

{% block content %}
    <section id="details">
        <div class="row fullwidth">
            <div class="details large-12 medium-12 small-12 columns">
                <div class="leftcol form large-8 small-12 small-nopadding medium-8 columns">
                    <h4>Your data was received!</h4>
                    <p>Please answer some additional questions below.</p>
                    <div class="upload large-12 medium-12 small-12 columns"> <!-- .upload starts -->
                        <div class="uploadTrigger">
                            <div class="panel">
                                <form method="post" action="">
                                    {% csrf_token %}

                                    <label>Please describe your business operations in a few sentences.</label>
                                    <textarea name="describe_business" required="required"></textarea>
                                    <div class="large-7 nopadding columns">
                                        <label>Website (indicate "None" if no website exists).</label>
                                        {{ form.website.errors }}<input type="url" name="website" required="required">
                                    </div>
                                    <div class="field option">
                                        <div class="large-9 medium-8 small-12 left nopadding columns"><p>Does any of
                                            your business involve subcontracting work to others?</p></div>
                                        <div class="large-3 medium-4 small-12 radio nopadding text-right columns">
                                            <input type="radio" name="subcontracting" value="yes" id="firstExplainShow"
                                                   required><label
                                                for="firstExplainShow">Yes</label>
                                            <input type="radio" name="subcontracting" value="no" id="firstExplainHide"
                                                   selected="selected"><label for="firstExplainHide">No</label>
                                        </div>
                                        <div class="large-12 firstExplain hideExplain nopadding columns"><textarea
                                                class="bottom" name="subcontracting"
                                                placeholder="Please explain..."></textarea></div>
                                    </div>
                                    <div class="field option">
                                        <div class="large-4 medium-8 small-8 left nopadding columns"><label>How many
                                            subcontractors?</label></div>
                                        <div class="large-2 medium-4 small-4 nopadding left columns">
                                            <input type="number" name="how_many_subcon" required min="0">
                                        </div>
                                    </div>
                                    <div class="field option">
                                        <div class="large-9 medium-8 small-12 left nopadding columns"><p>Do you have any
                                            subsidiaries or own, operate, or have more than 50% ownership interest in a
                                            business other than the business described in this application?</p></div>
                                        <div class="large-3 medium-4 small-12 radio nopadding text-right columns">
                                            <input type="radio" name="any_subssidiaries" value="Yes"
                                                   id="secondExplainShow"><label for="secondExplainShow"
                                                                                 required>Yes</label>
                                            <input type="radio" name="any_subssidiaries" value="No"
                                                   id="secondExplainHide"><label for="secondExplainHide">No</label>
                                        </div>
                                        <div class="large-12 secondExplain hideExplain nopadding columns"><textarea
                                                class="bottom" name="any_subssidiaries"
                                                placeholder="Please explain..."></textarea></div>
                                    </div>
                                    <div class="field option">
                                        <div class="large-9 medium-8 small-12 left nopadding columns"><p>Have you sold
                                            any new products or services over the last year?</p></div>
                                        <div class="large-3 medium-4 small-12 radio nopadding text-right columns">
                                            <input type="radio" name="sold_products" value="Yes"
                                                   id="thirdExplainShow"><label for="thirdExplainShow"
                                                                                required>Yes</label>
                                            <input type="radio" name="sold_products" value="No"
                                                   id="thirdExplainHide"><label for="thirdExplainHide">No</label>
                                        </div>
                                        <div class="large-12 thirdExplain hideExplain nopadding columns"><textarea
                                                class="bottom" name="sold_products"
                                                placeholder="Please explain..."></textarea></div>
                                    </div>
                                    <div class="large-10 nopadding top left columns">
                                        <div class="large-8 medium-8 small-8  left nopadding columns"><p>What will your
                                            revenue be for the next fiscal year? ($)</p></div>
                                        <div class="large-2 medium-4 small-4  nopadding left columns">
                                            <input type="number" value="100" name="revenue" min="0" style="width: 200px"
                                                   required>
                                        </div>
                                    </div>
                                    <div class="large-12 nopadding left margin columns">
                                        <div class="large-10 medium-8 small-8  left nopadding columns"><p>During the
                                            next 12 months, what are the estimated gross sales you will earn from your
                                            largest customer?</p></div>
                                        <div class="large-2 medium-4 small-4  nopadding left columns">
                                            <input type="number" value="100" name="estimated_gross" required min="0">
                                        </div>
                                    </div>
                                    <div class="field margin0">
                                        <div class="large-9 medium-8 small-12  left nopadding columns"><p>Any changes to
                                            your office/building over the last year? (Alarms, roofing, repairs,
                                            constructions, etc..)</p></div>
                                        <div class="large-3 medium-8 small-12  radio nopadding text-right columns">
                                            <input type="radio" name="any_changes" value="Yes"
                                                   id="fourthExplainShow"><label for="fourthExplainShow"
                                                                                 required>Yes</label>
                                            <input type="radio" name="any_changes" value="No"
                                                   id="fourthExplainHide"><label for="fourthExplainHide">No</label>
                                        </div>
                                        <div class="large-12 fourthExplain hideExplain nopadding columns"><textarea
                                                class="bottom" placeholder="Please explain..."
                                                name="any_changes"></textarea></div>
                                    </div>
                                    <div class="large-3 none right medium-4 small-12 columns">
                                        <button href="#" class="button">Next</button>
                                    </div>
                                    <div class="large-12 text-right columns"><p class="No">Just 1 minute to the finish
                                        line...</p></div>
                                </form>
                            </div>
                        </div>
                    </div> <!-- .upload ends -->
                </div>
                {% include 'blocks/steps.html' with active='step2' %}

            </div>
        </div>
    </section>




{% endblock %}


{% block extrascript %}
    <script>
        $(document).foundation();
        $(document).ready(function (e) {
            $("input[type=radio]").click(function (e) {
                id = $(this).attr('id');
                clas = "." + id.replace("Show", "").replace("Hide", "");
                if (id.search("Show") > 0) {
                    $(clas).show("normal");
                }
                else {
                    $(clas).hide("normal");
                }
            });

        });
    </script>
{% endblock %}
