{% extends "jones_base.html" %}

{% block content %}
<h1>FreshBooks</h1>
<h3>Your contacts:</h3>
Fields: {{ contacts_fields }}
    <hr>
{% for contact in contacts %}
    email: <b>{{ contact.email }}</b>, name: <b>{{ contact.first_name }} {{ contact.last_name }}</b><br>
{% endfor %}

    <br><br>
    <a href="{% url 'step3' %}">step3</a>
    ...
{% endblock %}


