{% extends 'jones_base.html' %}
{% block title %} Upload your existing insurance policy. {% endblock %}
{% block content %}
    {% load staticfiles i18n %}
    <section id="details">
        <div class="row fullwidth">
            <div class="details large-12 medium-12 small-12 columns">
                <div class="large-7 small-12 small-nopadding medium-12 columns">
                    <h3>How do you want to share your existing insurance policy?</h3>
                    <div class="upload large-12 medium-12 small-12 columns">
                        <div class="uploadTrigger">
                            <div class="large-8 small-12 medium-8 columns"><h6>Upload a soft copy (PDF) of my existing
                                insurance policy.</h6></div>
                            <div class="large-4  medium-4 small-12 columns"><a href="#" class="button">Upload</a></div>
                        </div>
                        <div class="uploadBox">
                            <div class="large-12 columns">
                                <div class="alert-box">
                                    <h6>Upload a soft copy (PDF) of my existing insurance policy.</h6>
                                    <form class="drag dropzone" action="/step2/" id="my-dropzone">
                                        {% csrf_token %}
                                    </form>
                                    <div class="row collapse">
                                        <div class="large-8 columns">
                                            <form>
                                                <div class="row collapse" style="cursor:pointer" id="select_file">
                                                    <div class="large-11 columns">
                                                        <input type="text" style="cursor:pointer"
                                                               value="Search file on Desktop"/>
                                                    </div>
                                                    <div class="large-1 columns">
                                                        <button class="file-upload"><input type="file"
                                                                                           class="file-input"><img
                                                                src="{% static 'images/icon_upload.png' %}" width="26"
                                                                height="26"/>
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="large-3 columns text-right">
                                            <a href="{% url 'step2' %}" class="button" id="submit">Upload</a>
                                        </div>
                                    </div>
                                    <div class="row collapse">
                                        <div class="large-12 text-center columns" id='error' style="display: none">
                                            <p class="error">Please choose a file to upload.</p>
                                        </div>
                                    </div>
                                    <a href="#" class="close">&times;</a>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="upload large-12 medium-12 small-12 columns">
                        <div class="textTrigger">
                            <div class="large-8 small-12 medium-8 columns"><h6>Upload a soft copy (PDF) of my existing
                                insurance policy.</h6></div>
                            <div class="large-4  medium-4 small-12 columns"><a href="#" class="button">text us</a></div>
                        </div>
                        <div class="textContentBox">
                            <div class="large-12 columns">
                                <div class="alert-box">
                                    <h6>Snap and send a picture of my existing coverage.</h6>
                                    <p>Take a photo of the Declarations page and text it to us at
                                        <span>(347)-755-2419</span>.<br/>The Declarations page is the first page or
                                        pages of your insurance policy.</p>
                                    <p>We'll send you a text back once your quotes are ready.</p>
                                    <a href="#" class="close">&times;</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="large-12 medium-12 small-12 text-right columns"><p>First time buyer? <a
                            href="{% url 'step2' %}"><u>Next</u></a></p></div>
                </div>
                <div class="step large-4 columns">
                    <ul class="large-12 medium-12 small-12 columns">
                        <li class="active">
                            <h4>Step 1</h4>
                            <p><b>Simply drag and drop, or text us.</b><br/>
                                If you already have coverage (of any type), we can pre-fill the application for you!</p>
                        </li>
                        <li>
                            <h4>Step 2</h4>
                            <p><b>Use data to get the best rates.</b><br/>
                                Upload data by connecting your web-based accounting software. It's 100% secure as our
                                algorithms work behind the scenes to find great coverage.p>
                        </li>
                        <li>
                            <h4>Step 3</h4>
                            <p><b>Receive your quote.</b><br/>
                                We'll offer you great insurance options. You choose the one that's right for your
                                business.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block extrascript %}
    <script>
        $(document).foundation();
        $(document).ready(function (e) {
            $(".uploadTrigger .button").click(function (e) {
                e.preventDefault();
                $(".uploadTrigger").hide("normal");
                $(".uploadBox").show("normal");
                $(".uploadBox .alert-box").show("normal");
            });

            $(".uploadBox .close").click(function (e) {
                e.preventDefault();
                $(".uploadTrigger").show("normal");
                $(".uploadBox .alert-box").hide("normal");
            });

            $(".textTrigger .button").click(function (e) {
                e.preventDefault();
                $(".textTrigger").hide("normal");
                $(".textContentBox").show("normal");
                $(".textContentBox .alert-box").show("normal");
            });

            $(".textContentBox .close").click(function (e) {
                e.preventDefault();
                $(".textTrigger").show("normal");
                $(".textContentBox .alert-box").hide("normal");
            });
        });
    </script>

    <script src="{% static 'js/dropzone.js' %}"></script>
    <link rel="stylesheet" href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css">
    {#        $("form.dropzone").dropzone({url: "/step1/", acceptedFiles: 'application/pdf'});#}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>

        Dropzone.options.myDropzone = {
            addRemoveLinks: true,
            acceptedFiles: 'image/*,application/pdf,.psd',
            url: "/step1/",
            dictDefaultMessage: 'Drag a file here',
            init: function () {
                thisDropzone = this;

                <!-- 4 -->
                {#                var mockFile = {name: 'test.pdf', size: 123456};#}
                {##}
                {#                thisDropzone.options.addedfile.call(thisDropzone, mockFile);#}
                $.get('/files/', function (data) {

                    <!-- 5 -->
                    $.each(data, function (key, value) {

                        var mockFile = {name: value.name, size: value.size, serverId: value.serverId,};

                        thisDropzone.options.addedfile.call(thisDropzone, mockFile);
                        {#                        thisDropzone.options.thumbnail.call(thisDropzone, mockFile, "uploads/"+value.name); #}
                        mockFile.previewElement.classList.add('dz-success');
                        mockFile.previewElement.classList.add('dz-complete');

                    });

                });
                this.on("success", function (file, response) {
                    file.serverId = response;
                });
                this.on("removedfile", function (file) {
                    if (!file.serverId) {
                        return;
                    }
                    $.post("/file/" + file.serverId + "/del/");
                });
            }
        };
        $('body').delegate("#submit", 'click', function () {
            elem = $("div.dz-preview");
            if (elem.length) {

            }
            else {
                $('#error').show();
                return false;
            }

        });
        $('body').delegate('#select_file', 'click', function () {
            $('#my-dropzone').click();
        });

    </script>
{% endblock %}
