{% extends "jones_base.html" %}

{% block content %}
<h3>Your contacts:</h3>
Fields: {{ contacts.0.keys }}
    <hr>
{% for contact in contacts %}
    company_name: <b>{{ contact.Name }}</b>, name: <b>{{ contact.FirstName }} {{ contact.LastName }}</b><br>
{% endfor %}

    <br><br>
    <a href="{% url 'step3' %}">step3</a>
    ...
{% endblock %}


